<mat-card>Ingrese detalle de los signos vitales del paciente</mat-card>

<form class="example-container" [formGroup]="form" #frmSignosVitales="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">frmSignosVitales
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <div>
        <button mat-raised-button="accent" color="accent" (click)="abrirDialogo()" style="float: right; margin-right: 20px">
            Nuevo Paciente
        </button>
    </div>
    
    <mat-form-field>
        <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
            [formControl]="myControlPaciente" formControlName="paciente">
    </mat-form-field>
    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente"
        (optionSelected)="seleccionarPaciente($event)">
        <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha" required formControlName="fecha">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Temperatura" required formControlName="temperatura">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Pulso" required formControlName="pulso">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmoRespiratorio">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmSignosVitales.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/signos-vitales' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>

</form>
